{
    "llm":{
      "base_url": "",
      "api_key": "",
      "model_name1": "gpt-4o-mini",
      "model_name": "gpt-4o-mini-2024-07-18",
      "stream": "False",
      "temperature": 0.1
    },
    "API":{
      "name": "radio",
      "key": ""
    }   
  }